


header a {
    display: flex;
    justify-content: flex-end;
}

header h2 {
    display: flex;
    justify-content: flex-end;
    font-size: 15px;
}

main {
    display: flex;
    
}

.subtitle {
    text-align: right;
}

section {
    display: flex;
    flex-wrap: nowrap;   
}

section h2 {
    border-right: 5px solid black;
    margin-top: 5px;
    padding: 5px
    
}

.aboutme p {
    display: flex;
    justify-content: flex-end;
}

header h3{
    background-color: red;
    width: 30%;
    height: 60px;
    text-align: right;
    font-size: 40px;
    padding-right: 20px;
    padding-top: 10px;
    
}

nav {
    
    display: flex;
    justify-content: flex-end;
    font-size: 15px;
    /* padding: 5px 5px 5px 5px; */
    
}