


header a {
    display: flex;
    justify-content: flex-end;
}

header h2 {
    display: flex;
    justify-content: flex-end;
    font-size: 15px;
}

main {
    display: block;
    
}

h4{
    background-color: aquamarine;
    box-sizing: 30px;
    padding: 5px;
    margin: 5px;  
}

.subtitle {
    text-align: right;
    height: 100px;
    background-color: darksalmon;
  
  /* top: 100px;
  right: 100px;
  width: 200px;
  height: 100px; */
}

section {
    display: flex;
    flex-wrap: nowrap;
    height: 100px;

}

section h2 {
    border-right: 5px solid black;
    margin-bottom: 5px;
    padding: 5px
    
}

p {
    display: flex;
    justify-content: flex-end;
    padding: auto;
    margin: 5px;
}

header h3{
    background-color: red;
    width: 30%;
    height: 60px;
    text-align: right;
    font-size: 40px;
    padding-right: 20px;
    padding-top: 10px;
    
}


nav {
    
    display: flex;
    justify-content: flex-end;
    font-size: 15px;
}

button {
    /* border: none; */
    /* all: unset;
    cursor: pointer; */
  }
  
  /* button:focus {
    outline: orange 5px auto;
  } */